body {
  overflow-x: hidden;
  overflow-y: hidden;
}

.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  box-shadow: 3px 2px 1px rgba(0, 0, 0, 0.25);
  color: #FFECB3 !important;
  background: #FFC107;
  position: relative;
}
.navbar .navbar-brand {
  color: #FFECB3;
  font-size: 24px;
}
.navbar a {
  color: #FFECB3 !important;
  font-size: 18px;
}
.navbar .icon-bar {
  background: #FFECB3 !important;
}

.navbar-nav li a:hover {
  color: white !important;
}

#searchBar {
  min-width: 250px;
}

#map {
  width: 100%;
  height: calc(100vh - 60px);
  background: gray;
  display: block;
  position: absolute;
  left: 0;
}

#info {
  width: 45%;
  height: calc(100vh - 60px);
  background: white;
  display: block;
  position: absolute;
  box-shadow: 3px 2px 1px rgba(0, 0, 0, 0.25);
  right: 0;
  transition: all 1s;
}

#info.offscreen {
  right: -43%;
  cursor: pointer;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

#searchButton {
  height:140%;
  padding-top: 9px;
  padding-bottom: 9px;
}
